* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    min-width: 250px;
    height: 45vh;
    margin: 6px;
    border-radius: 4%;
    background-image: linear-gradient(to top,rgb(1, 47, 71) 0 65%,rgb(255, 102, 0) 65% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 4%;
    -moz-border-radius: 4%;
    -ms-border-radius: 4%;
    -o-border-radius: 4%;
}

@media (max-width:500px) {
    .card {
       width:90%;
       height: 50vh;
    }
}
@media (max-height:450px) {
    .card {
        height: 80vh;
    }
}
.card img {
    width: 100%;
    height: 100%;
    border-radius: 4%;
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.45s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    position: absolute;
    z-index: 1000;
    -webkit-border-radius: 4%;
    -moz-border-radius: 4%;
    -ms-border-radius: 4%;
    -o-border-radius: 4%;
}
.card:hover img {
    width: 50%;
    height:50%;
    margin-top: -100px;
    transition: 0.5s;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s; 
}
.card .info {
    width: fit-content;
    text-align: center;
    margin: 6px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,200%);
    -webkit-transform: translate(-50%,200%);
    -moz-transform: translate(-50%,200%);
    -ms-transform: translate(-50%,200%);
    -o-transform: translate(-50%,200%);
    transition: transform 0.8s;
    -webkit-transition: transform 0.8s;
    -moz-transition: transform 0.8s;
    -ms-transition: transform 0.8s;
    -o-transition: transform 0.8s;
}
.card:hover .info {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
}
.card .info h4 {
    color: white;
    letter-spacing: 1.2px;
    padding-bottom: 4px;
}
@media (max-width:300px) {
    h4 {
        font-size: 1em;
        letter-spacing: 1.3px;
    }
}
@media (min-width:300px) {
    h4 {
        font-size: 19px;
        letter-spacing: 1px;
    }
}
.card .info p {
    color: yellow;
padding-bottom: 6px;

}
@media (max-width:786px) {
    p {
        font-size: 17px;
        letter-spacing: 0.8px;
    }
}
.card .info i {
    width: 31.5px;
    height: 31.5px;
    font-size: 16px;
    margin-right: 6px;
    padding-top: 8px;
    background-color: rgb(0, 114, 177);
    color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}
.card .info i:first-of-type:hover , .card .info i:nth-of-type(2):hover ,
.card .info i:nth-of-type(3):hover , .card .info i:last-of-type:hover {
    color: white;
    transition: transform 0.8s;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transition: transform 0.8s;
    -moz-transition: transform 0.8s;
    -ms-transition: transform 0.8s;
    -o-transition: transform 0.8s;
}
.card .info i:first-of-type:hover {
    
background-color: rgb(85, 172, 238);

}
.card .info i:nth-of-type(2):hover {
    background-color: rgb(59, 89, 152);
}
 .card .info i:nth-of-type(3):hover {
    background-color: rgb(255, 0, 0);
    
}  
.card .info i:last-of-type:hover {
    background-color: rgb(255, 102, 0);
}